<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Сервис управления рассылками</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <nav class="ms-5">
                <a class="p-2 btn btn-outline-primary" href="{% url 'cursach:cursach' %}">Клиенты</a>
            </nav>
            <nav class="ms-5">
                <a class="p-2 bth bth-outline-primary" href="{% url 'cursach:mailing' %}">Рассылки</a>
            </nav>
            <nav class="ms-5">
                <a class="p-2 bth bth-outline-primary" href="{% url 'cursach:letter' %}">Письма</a>
            </nav>
            <nav class="ms-5">
                <a class="p-2 btn btn-outline-primary" href="{% url 'cursach:status' %}">Статистика</a>
            </nav>
        </div>
    </div>
</nav>



